@media screen and (max-width: 1270px) {
  .contact_screen .contact_wrap .contact_row .top_part .top .img_logo_cont {
    width: 100px;
    height: 108px;
    margin-right: 18px;
  }
  .contact_screen .contact_wrap .contact_row {
    padding: 19px 14px;
  }
  .screen8_index_wrap .heading {
    margin-bottom: 20px;
  }
  .brown_button {
    padding: 14px 20px;
    font-size: 15px;
    line-height: 23px;
  }
  .heading {
    font-size: 48px;
    line-height: 50px;
  }
  .text_description {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #292827;
  }
  .screen7_index_wrap .right {
    width: calc(45% - 20px);
    margin-left: 20px;
  }
  .card_own_story .bottom_part {
    padding: 20px 14px 24px;
  }
  .sub_button {
    padding: 13px 43px;
    font-size: 15px;
  }
  .table_with_button .table_row {
    padding: 20px 14px;
  }
  .table_with_button .table_row .left {
    width: 45%;
  }
  .table_with_button .table_row .right {
    width: calc(55% - 10px);
    margin-left: 10px;
  }
  .blue_button {
    padding: 14px 43px;
    font-size: 15px;
  }
  .screen7_index_wrap .right {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  .screen7_index_wrap .left {
    width: 50%;
  }
  .screen7_index_wrap .left .heading {
    margin-bottom: 10px;
  }
  .screen7_index_wrap .left .text_description {
    margin-bottom: 24px;
  }
  .padding60 {
    padding: 40px 0;
  }
  .screen4_index_wrap .left {
    width: 50%;
  }
  .screen4_index_wrap .right {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  .screen4_index_wrap .right .autor_description br {
    display: none;
  }
  .autor_description {
    font-size: 13px;
    line-height: 24px;
  }
  .screen4_index_wrap .left .quotes .quotes_img {
    width: 30px;
  }
  .screen4_index_wrap .left .quotes blockquote .blockquote_parag {
    font-size: 13px;
    line-height: 28px;
  }
  .screen2_index_wrap .left .img_left_scr2 {
    width: 100%;
    margin-bottom: 15px;
  }
  .fs24_600 {
    font-size: 17px;
    line-height: 24px;
  }
  .screen2_index_wrap .right .text_part {
    width: 100%;
    margin-bottom: 15px;
  }
  .screen2_index_wrap .left .text_part {
    width: 100%;
  }
  .main_heading {
    font-size: 50px;
    line-height: 54px;
  }
  .header .left .logo_header:first-of-type {
    margin-right: 10px;
  }
  .nav_menu .nav_page {
    margin-right: 15px;
  }
  .nav_menu .nav_page a {
    font-size: 15px;
  }
  .icon_header {
    width: 45px;
    height: 45px;
  }
  .icon_header img {
    width: 18px;
    height: 18px;
  }
  .search_box {
    width: 45px;
    height: 45px;
    background-position: 13px center;
    background-size: 18px;
  }
  .search_box:hover {
    width: 340px;
  }
  .logo_header {
    width: 100px;
    height: 100px;
    display: block;
  }
  .screen1_index_wrap .left .main_heading {
    margin-bottom: 10px;
  }
  .screen1_index_wrap .left .subheading {
    margin-bottom: 20px;
  }
  .screen1_index_wrap .left {
    width: 45%;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .card_partner {
    width: calc(25% - 20px);
    padding-right: 20px;
    margin-right: 20px;
  }
  .card_partner .img_partner {
    width: 210px;
  }
  .screen3_index_wrap .left .text_part .text_description {
    margin-bottom: 17px;
  }
  .screen3_index_wrap .right .top .top_img2 {
    top: 18px;
  }
  .screen5_index_wrap .top {
    align-items: flex-end;
  }
  .screen1_results .right {
    margin-top: -30px;
    width: calc(60% - 20px);
    margin-left: 20px;
  }
  .screen1_results .left {
    width: 40%;
  }
  .screen1_results {
    padding-top: 30px;
  }
  .screen_about_wrap .bcg_textpart {
    padding: 18px 20px;
  }
  .screen1_about .right {
    margin-top: -40px;
  }
  .screen1_about {
    padding-top: 30px;
  }
  .screen2_results {
    padding-top: 0;
  }
  .screen1_results .left .heading span {
    font-size: 95px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1100px) {
  .description_person {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .description_person .job_description {
    display: none;
  }
  .job_description.mobile {
    display: block;
  }
  .description_person h3 {
    font-size: 25px;
    line-height: 24px;
  }
  .description_person .job_title {
    font-size: 15px;
  }
  .screen3_index_wrap .left .img_position {
    width: calc(60% - 50px);
    margin-left: 50px;
  }
  .screen3_index_wrap .right_wrap .img_position {
    width: calc(60% - 50px);
    margin-left: 50px;
  }
}
@media screen and (max-width: 991px) {
  .nav_menu .nav_page a {
    font-size: 13px;
  }
  .screen1_results .right {
    margin-top: -15px;
    width: calc(70% - 20px);
    margin-left: 20px;
  }
  .screen1_results .left {
    width: 30%;
  }
  .video_iframe {
    width: 100%;
    height: 280px;
  }
  .logo_header {
    width: 80px;
    height: 80px;
  }
  .nav_menu .nav_page {
    margin-right: 13px;
  }
  .icon_header {
    width: 35px;
    height: 35px;
  }
  .icon_header img {
    width: 14px;
    height: 14px;
  }
  .search_box {
    width: 35px;
    height: 35px;
    background-position: 11px center;
    background-size: 14px;
  }
  .flex_icon {
    padding-left: 57px;
  }
  .card_partner .img_partner {
    width: 170px;
  }
  .flex_parners {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .card_partner {
    width: calc(50% - 20px);
    padding-right: 20px;
    margin-right: 20px;
  }
  .card_partner:nth-child(even) {
    border-right: unset;
    padding-right: unset;
    margin-right: unset;
  }
  .screen_about_wrap .left {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .screen2_results .right .event_descr {
    margin-bottom: 5px;
  }
  .screen1_about {
    padding-top: 11px;
    align-items: center;
  }
  .screen1_about .right {
    margin-top: 0px;
    align-items: center;
  }
  .screen3_about .right .top img {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media screen and (max-width: 890px) {
  .logo_header {
    width: 60px;
    height: 60px;
    display: block;
  }
  .nav_menu .nav_page {
    margin-right: 5px;
  }
  .icon_header {
    padding: 9px;
    margin-right: 5px;
  }
  .screen1_index_wrap .right {
    width: calc(55% - 30px);
    margin-left: 29px;
  }
  .screen1_index_wrap .right img {
    margin-bottom: -4px;
  }
  .table_with_button .table_row .left .text_description {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 790px) {
  .screen1_index_wrap .left .brown_button {
    max-width: unset;
  }
  .main_heading {
    font-size: 40px;
    line-height: 48px;
  }
  .description_person .job_title {
    font-size: 13px;
  }
  .description_person h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .screen1_index_wrap {
    display: block;
  }
  .screen1_index_wrap .left {
    width: 100%;
  }
  .screen1_index_wrap .right {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .screen2_index_wrap {
    display: block;
  }
  .screen2_index_wrap .left {
    width: 100%;
  }
  .screen2_index_wrap .right {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .video_iframe {
    width: 100%;
    margin-bottom: 15px;
    height: 370px;
  }
  .screen3_index_wrap {
    display: block;
  }
  .screen3_index_wrap .left {
    display: block;
  }
  .screen3_index_wrap .right {
    width: 100%;
  }
  .screen4_index_wrap {
    display: block;
  }
  .screen4_index_wrap .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .screen4_index_wrap .right {
    width: 100%;
    margin-left: 0;
  }
  .flex_parners {
    display: block;
  }
  .card_partner {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    border-right: unset;
    border-bottom: 1px solid #EBE2D5;
    padding-bottom: 30px;
  }
  .card_partner:last-of-type {
    border-bottom: unset;
    padding-bottom: unset;
  }
  .screen6_index_wrap .heading {
    text-align: start;
    margin-bottom: 40px;
  }
  .screen7_index_wrap {
    display: block;
  }
  .screen7_index_wrap .left {
    width: 100%;
    margin-bottom: 40px;
  }
  .screen7_index_wrap .right {
    width: 100%;
    margin-left: 0;
  }
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
  .table_with_button .table_row .left {
    margin-bottom: 0;
  }
  .table_with_button .table_row .left .text_description {
    margin-bottom: 0;
  }
  .contact_screen .contact_wrap {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .contact_screen .contact_wrap .contact_row {
    width: 100%;
    border-right: unset;
    border-bottom: 1px solid #C4BDB2;
  }
  .contact_screen .contact_wrap .contact_row:last-of-type {
    border-bottom: unset;
  }
  .bottom_info_site {
    flex-direction: column-reverse;
    text-align: center;
  }
  .pr_policy {
    margin: 0 auto;
  }
  .header .right .top_mobile_header .gumb {
    display: block;
  }
  .header {
    align-items: center;
  }
  .header .right {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ebe2d5;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .header .right .nav_menu {
    display: block;
    text-align: center;
  }
  .header .right .nav_menu .nav_page {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .header .right .nav_menu .nav_page a {
    font-size: 22px;
  }
  .header .right .top_mobile_header {
    position: relative;
    padding: 60px 0;
  }
  .header .right .top_mobile_header .search_box.mobile {
    display: block;
    width: 390px;
    position: static;
    margin-right: 0;
  }
  .header .right .top_mobile_header .search_box.mobile span {
    color: #333333;
  }
  .header .right .flex_icon {
    margin-bottom: 20px;
  }
  .header .right .flex_icon .search_box {
    display: none;
  }
  .header .right .flex_icon .icon_header {
    padding: 16px;
    margin-right: 10px;
  }
  .header .right .flex_icon .icon_header img {
    width: 24px;
    height: 25px;
  }
  .flex_icon {
    padding-left: 0;
  }
  .gumb.open {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 40;
  }
  .gumb.open span {
    transform: rotate(40deg);
  }
  .gumb.open span:before {
    display: none;
  }
  .gumb.open span:after {
    transform: rotate(100deg);
    top: 0;
  }
  .gumb {
    display: block;
  }
  .header .right.active {
    display: flex;
  }
  .pb65 {
    padding-bottom: 40px;
  }
  .screen_about_wrap {
    display: block;
  }
  .screen_about_wrap .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .screen_about_wrap .right {
    width: 100%;
  }
  .screen2_results_wrap .heading {
    margin-bottom: 20px;
  }
  .call_to_action_wrap .right {
    width: 100%;
    margin-left: 0;
  }
  .call_to_action_wrap .heading {
    margin-bottom: 10px;
  }
  .call_to_action_wrap .left {
    width: 100%;
    margin-bottom: 24px;
  }
  .call_to_action_wrap .table_with_button {
    border: 1px solid #C4BDB2;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .call_to_action_wrap .table_with_button .table_row {
    display: block;
  }
  .call_to_action_wrap .table_with_button .table_row .left {
    width: 100%;
    margin-bottom: 14px;
  }
  .call_to_action_wrap .table_with_button .table_row .right {
    width: 100%;
    margin-left: 0;
  }
  .call_to_action_wrap.padding50 {
    padding-bottom: 20px;
  }
  .call_to_action_wrap_block {
    display: block;
  }
  .screen1_results .right {
    display: none;
  }
  .screen1_results .left {
    width: 100%;
  }
  .screen1_results .left .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .screen1_results .left .heading br {
    display: none;
  }
  .screen1_results .left .bcg_textpart.mobile_video {
    display: block;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
  .screen1_results .left .bcg_textpart.mobile_video img {
    width: 100%;
  }
  .screen1_results.pb65 {
    padding-bottom: 20px;
  }
  .screen1_results .left .heading span {
    font-size: 60px;
  }
  .screen2_results .left {
    display: none;
  }
  .screen2_results {
    padding-top: 0px;
  }
  .screen2_results .right .center_mobile {
    display: block;
  }
  .bcg_textpart {
    padding: 15px 13px;
  }
  .screen1_about {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .screen1_about .heading.mobile {
    display: block;
  }
  .screen1_about .right {
    margin-top: 0;
    padding-bottom: 35px;
  }
  .screen1_about .left .heading {
    display: none;
  }
  .screen3_about {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .screen3_about .right .top img {
    width: calc(50% - 15px);
    margin-right: 15px;
  }
  .screen_about_wrap .bcg_textpart {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .screen_about_wrap .left .img_spikelets {
    display: none;
  }
  .screen5_about {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .screen3_index_wrap .left .img_position {
    width: 100%;
    margin-left: 0;
    height: 100vw;
    max-height: 500px;
  }
  .screen3_index_wrap .left .text_part {
    width: 100%;
  }
  .screen3_index_wrap .right_wrap {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .screen3_index_wrap .right_wrap .img_position {
    width: 100%;
    margin-left: 0;
    height: 57vw;
    max-height: 400px;
  }
  .screen3_index_wrap .right_wrap .img_position .bottom_img2 {
    position: absolute;
    right: 0;
    top: 17%;
    width: 55%;
    z-index: 1;
  }
  .screen3_index_wrap .right_wrap .img_position .bottom_img1 {
    position: absolute;
    left: 17%;
    top: 35%;
    width: 34%;
    z-index: 2;
  }
  .screen3_index_wrap .right_wrap .img_position .bottom_img3 {
    position: absolute;
    left: 0%;
    width: 24%;
    z-index: 1;
    top: 27%;
  }
  .screen3_index_wrap .right_wrap .text_part {
    width: 100%;
    margin-bottom: 0;
  }
  .popup {
    width: calc(100% + 30px);
    padding: 23px 14px 83px;
    position: relative;
    margin-left: -15px;
  }
  .input_div .input {
    font-size: 13px;
  }
  .popup .close_form {
    right: 16px;
    top: 16px;
  }
}