@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Manrope";
  overflow: scroll;
}

.container {
  width: 100%;
  max-width: 1376px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.ai {
  align-items: center;
}

.jc {
  justify-content: space-between;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.fs24_600 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #292827;
}

.fs13_500 {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: #292827;
}

.bcg_white {
  background-color: #fff;
}

.bcg_brown {
  background-color: #ebe2d5;
}

.bcg_grey {
  background: #D6D2CD;
}

.t_center {
  text-align: center;
}

.brown_button {
  background: #B37C21;
  padding: 14px 28px;
  display: inline-block;
  text-decoration-line: unset;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #EAEAEA;
  text-align: center;
}

.blue_button {
  background: #1A428A;
  padding: 14px 43px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #EAEAEA;
  display: inline-block;
  text-decoration-line: unset;
  text-align: center;
}

.white_button {
  background: #FFFFFF;
  padding: 14px 43px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #292827;
  display: inline-block;
  text-decoration-line: unset;
  text-align: center;
}

.sub_button {
  border: 1px solid #292827;
  background: transparent;
  padding: 14px 43px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #292827;
  display: inline-block;
  text-decoration-line: unset;
  text-align: center;
}

.heading {
  font-weight: 600;
  font-size: 54px;
  line-height: 67px;
  letter-spacing: -0.01em;
  color: #292827;
}
.heading span {
  color: #B27C21;
}

.text_description {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #292827;
}

.padding40 {
  padding: 40px 0;
}

.padding50 {
  padding: 50px 0;
}

.padding60 {
  padding: 60px 0;
}

.pb65 {
  padding-bottom: 65px;
}

.header {
  padding-top: 30px;
}
.header .left .logo_header:first-of-type {
  margin-right: 25px;
}
.header .right {
  align-items: flex-start;
}

.logo_header {
  width: 160px;
  height: 160px;
  display: block;
}
.logo_header img {
  width: 100%;
}

.nav_menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.nav_menu .nav_page {
  margin-right: 30px;
}
.nav_menu .nav_page a {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #292827;
  opacity: 0.7;
  text-decoration-line: unset;
}

.icon_header {
  border: 1px solid #B8B8B4;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.icon_header img {
  width: 24px;
  height: 24px;
}

.screen1_index_wrap .left {
  width: 45%;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.screen1_index_wrap .left .brown_button {
  width: auto;
  max-width: 260px;
}
.screen1_index_wrap .right {
  width: calc(55% - 60px);
  margin-left: 60px;
}
.screen1_index_wrap .right img {
  width: 100%;
  margin-bottom: -5px;
}

.main_heading {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: #292827;
}

.screen2_index_wrap .left {
  width: 50%;
}
.screen2_index_wrap .left .img_left_scr2 {
  width: 100%;
  margin-bottom: 56px;
}
.screen2_index_wrap .left .text_part {
  width: 90%;
}
.screen2_index_wrap .right {
  width: calc(50% - 40px);
  margin-left: 40px;
}
.screen2_index_wrap .right .text_part {
  width: 90%;
  margin-bottom: 55px;
}

.video_iframe {
  width: 100%;
  height: 335px;
}

.screen3_index_wrap .left {
  width: 100%;
}
.screen3_index_wrap .left .text_part {
  width: 40%;
  margin-bottom: 40px;
}
.screen3_index_wrap .left .text_part .text_description {
  margin-bottom: 24px;
}
.screen3_index_wrap .left .img_position {
  width: calc(60% - 150px);
  margin-left: 150px;
  position: relative;
}
.screen3_index_wrap .left .img_position .top_img1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 50%;
  object-fit: cover;
  z-index: 1;
}
.screen3_index_wrap .left .img_position .top_img2 {
  position: absolute;
  left: 24%;
  bottom: 11%;
  width: 50%;
  height: 80%;
  object-fit: cover;
  z-index: 2;
}
.screen3_index_wrap .left .img_position .top_img3 {
  position: absolute;
  left: 8%;
  bottom: 0;
  width: 25%;
  height: 40%;
  object-fit: cover;
  z-index: 3;
}
.screen3_index_wrap .left .img_position .top_img4 {
  position: absolute;
  right: 0;
  bottom: 4%;
  width: 30%;
  height: 60%;
  object-fit: cover;
  z-index: 1;
}
.screen3_index_wrap .right_wrap {
  width: 100%;
}
.screen3_index_wrap .right_wrap .text_part {
  width: 40%;
  margin-bottom: 40px;
}
.screen3_index_wrap .right_wrap .img_position {
  width: calc(60% - 150px);
  margin-left: 150px;
  position: relative;
}
.screen3_index_wrap .right_wrap .img_position .bottom_img1 {
  position: absolute;
  left: 11%;
  bottom: -2%;
  width: 34%;
  height: 40%;
  z-index: 2;
  object-fit: cover;
}
.screen3_index_wrap .right_wrap .img_position .bottom_img2 {
  position: absolute;
  left: 35%;
  top: 26%;
  width: 53%;
  height: 60%;
  z-index: 1;
  object-fit: cover;
}
.screen3_index_wrap .right_wrap .img_position .bottom_img3 {
  position: absolute;
  left: 0%;
  bottom: 25%;
  width: 24%;
  height: 40%;
  z-index: 1;
  object-fit: cover;
}

.screen4_index_wrap .left {
  width: 40%;
}
.screen4_index_wrap .left .quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.screen4_index_wrap .left .quotes .quotes_img {
  width: 40px;
}
.screen4_index_wrap .left .quotes blockquote .blockquote_parag {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #292827;
}
.screen4_index_wrap .right {
  width: calc(60% - 150px);
  margin-left: 150px;
}
.screen4_index_wrap .right .autor_description {
  text-align: center;
}

.autor {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #292827;
}

.autor_description {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #292827;
}

.personal_card .name_person {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #292827;
}
.personal_card .description_card {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #292827;
  margin-bottom: 14px;
}

.screen5_index {
  position: relative;
}
.screen5_index .spikelets_grey {
  position: absolute;
  right: -15px;
  top: -40px;
}

.age_person {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgba(41, 40, 39, 0.5);
  margin-bottom: 10px;
}

.screen6_index_wrap .heading {
  text-align: center;
  margin-bottom: 30px;
}

.card_partner {
  width: calc(25% - 50px);
  padding-right: 50px;
  border-right: 1px solid #EBE2D5;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_partner:last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: unset;
}
.card_partner .top_part {
  margin-bottom: 15px;
}
.card_partner .img_partner {
  margin-bottom: 12px;
  width: 260px;
}
.card_partner .name_museum {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #292827;
}
.card_partner .descr_partner {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #292827;
}

.screen7_index_wrap .left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.screen7_index_wrap .right {
  width: calc(45% - 115px);
  margin-left: 115px;
}

.card_own_story {
  background: #EBE2D5;
}
.card_own_story img {
  width: 100%;
}
.card_own_story .bottom_part {
  padding: 30px 40px;
}

.table_with_button {
  border: 1px solid #C4BDB2;
}
.table_with_button .table_row {
  padding: 20px 25px;
  border-bottom: 1px solid #C4BDB2;
  display: flex;
  justify-content: space-between;
}
.table_with_button .table_row:last-of-type {
  border-bottom: unset;
}
.table_with_button .table_row .left {
  width: 55%;
}
.table_with_button .table_row .right {
  width: calc(45% - 30px);
  margin-left: 30px;
}
.table_with_button .table_row .right .button {
  width: 100%;
}

.contact_screen .contact_wrap {
  border: 1px solid #C4BDB2;
  margin-bottom: 15px;
}
.contact_screen .contact_wrap .contact_row {
  border-right: 1px solid #C4BDB2;
  width: 33.3333333333%;
  padding: 20px 30px;
}
.contact_screen .contact_wrap .contact_row:last-of-type {
  border-right: unset;
}
.contact_screen .contact_wrap .contact_row .top_part {
  margin-bottom: 17px;
}
.contact_screen .contact_wrap .contact_row .top_part .top {
  margin-bottom: 14px;
  align-items: center;
}
.contact_screen .contact_wrap .contact_row .top_part .top .img_logo_cont {
  width: 105px;
  height: 118px;
  margin-right: 10px;
}
.contact_screen .contact_wrap .contact_row .company_name {
  height: 20%;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #292827;
}

.screen_about_wrap .left {
  position: relative;
  z-index: 1;
  width: calc(50% - 70px);
  margin-right: 70px;
}
.screen_about_wrap .left .img_spikelets {
  position: absolute;
  top: -130px;
  right: -80px;
  z-index: -1;
}
.screen_about_wrap .right {
  width: 50%;
}

.bcg_textpart {
  background: url(../img/bcg_text.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22px 60px;
}

.call_to_action_wrap .left {
  width: 40%;
}
.call_to_action_wrap .right {
  width: calc(60% - 80px);
  margin-left: 80px;
}

.flex_prsnl_card {
  overflow-x: scroll;
  width: 100%;
}
.flex_prsnl_card .personal_card {
  width: 30%;
  margin-right: 20px;
  flex: 0 0 auto;
}
.flex_prsnl_card .personal_card img {
  width: 100%;
}

.bottom_info_site {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #292827;
}

.pr_policy {
  padding-left: 0;
  display: flex;
}
.pr_policy li {
  list-style-type: none;
  margin-right: 10px;
}

.flex_icon {
  position: relative;
  padding-left: 59px;
}

.search_box {
  position: absolute;
  right: calc(100% - 58px);
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  border: 1px solid #B8B8B4;
  border-radius: 100px;
  background-position: 16px center;
  transition: 0.3s;
  margin-right: 10px;
}
.search_box input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 16px 18px;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(41, 40, 39, 0.5);
  background-color: transparent;
  margin-left: 25px;
}
.search_box span {
  position: absolute;
  color: transparent;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
.search_box:hover {
  width: 390px;
}
.search_box:hover span {
  color: #333;
}
.search_box:hover .nav_menu {
  display: none;
}

.search_box.mobile {
  display: none;
}

.gumb {
  display: none;
  position: relative;
}
.gumb span {
  display: block;
  width: 30px;
  height: 3px;
  background: #3D3D3D;
  cursor: pointer;
}
.gumb span:before {
  content: "";
  width: 30px;
  height: 3px;
  background: #3D3D3D;
  display: block;
  position: absolute;
  top: -8px;
}
.gumb span:after {
  content: "";
  width: 30px;
  height: 3px;
  background: #3D3D3D;
  display: block;
  position: absolute;
  top: 8px;
}

.screen5_about {
  align-items: center;
}
.screen5_about .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen5_about .right img {
  width: 85%;
  margin: 0 auto 30px;
}

.screen4_about .left .video_iframe {
  margin-bottom: 25px;
}

.screen1_about {
  padding-top: 50px;
}
.screen1_about .heading.mobile {
  display: none;
}
.screen1_about .right {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen1_about .right img {
  width: 100%;
}

.description_person h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #292827;
  margin-bottom: 10px;
}
.description_person .job_title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba(41, 40, 39, 0.7);
  margin-bottom: 16px;
}

.job_description.mobile {
  display: none;
}

.screen3_about .right .top {
  margin-bottom: 25px;
}
.screen3_about .right .top img {
  width: calc(50% - 55px);
  margin-right: 55px;
}
.screen3_about .right .top .description_person {
  width: 50%;
}

.screen1_results {
  padding-top: 50px;
}
.screen1_results .left {
  width: 23%;
}
.screen1_results .left .heading span {
  font-weight: 600;
  font-size: 102px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: #B27C21;
}
.screen1_results .left .bcg_textpart.mobile_video {
  display: none;
}
.screen1_results .right {
  margin-top: -60px;
  width: calc(77% - 100px);
  margin-left: 100px;
}
.screen1_results .right img {
  width: 100%;
}

.screen1_join {
  padding-top: 50px;
}
.screen1_join .left ul {
  padding-left: 15px;
}
.screen1_join .right ul {
  padding-left: 15px;
}
.screen1_join .right .event_descr {
  margin-bottom: 13px;
}
.screen1_join .right .event_descr span {
  font-weight: 700;
}
.screen1_join .right .event_descr:last-of-type {
  margin-bottom: 24px;
}

.screen2_results .center_mobile {
  display: none;
}
.screen2_results .key_issues {
  padding-left: 0;
}
.screen2_results .key_issues .fw700 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: #292827;
}
.screen2_results .key_issues li {
  list-style-type: none;
}
.screen2_results .caption {
  margin-bottom: 15px;
}

.nav_page.active {
  position: relative;
}
.nav_page.active:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #B27C21;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
}
.nav_page.active a {
  opacity: 1;
}

.popup {
  width: 500px;
  background: #FFFFFF;
  padding: 40px 40px 45px;
  position: relative;
  margin: 0 auto;
}
.popup .name_form {
  margin-bottom: 20px;
}
.popup .send_message_form .brown_button {
  width: 100%;
}
.popup .close_form {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.input_div {
  margin-bottom: 13px;
}
.input_div .name_input {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #292827;
  margin-bottom: 4px;
}
.input_div .input {
  background: #F5F0EA;
  border: 1px solid #D5CBBC;
  border-radius: 2px;
  padding: 11px 13px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(41, 40, 39, 0.5);
  outline: 0;
}
.input_div textarea {
  height: 160px;
}
.input_div:last-of-type {
  margin-bottom: 20px;
}