@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
}


body{
  font-family: "Manrope";
  overflow: scroll;
}

.container{
	width: 100%;
	max-width: 1376px;
	padding: 0 15px;
	margin: 0 auto;
}

.d-flex{
	display: flex;
}

.ai{
	align-items: center;
}

.jc{
	justify-content: space-between;
}

.mb_20{
	margin-bottom: 20px;
}

.mb_10{
	margin-bottom: 10px;
}

.mb_30{
	margin-bottom: 30px;
}

.mb_40{
	margin-bottom: 40px;
}

.fs24_600{
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.01em;
	color: #292827;
}

.fs13_500{
	font-weight: 500;
	font-size: 13px;
	line-height: 25px;
	color: #292827;
}

.bcg_white{
	background-color: #fff;
}

.bcg_brown{
	background-color: #ebe2d5;
}

.bcg_grey{
	background: #D6D2CD;
}

.t_center{
	text-align: center;
}

.brown_button{
	background: #B37C21;
	padding: 14px 28px;
	display: inline-block;
	text-decoration-line: unset;
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.04em;
	color: #EAEAEA;
	text-align: center;
}

.blue_button{
	background: #1A428A;
	padding: 14px 43px;
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #EAEAEA;
	display: inline-block;
	text-decoration-line: unset;
	text-align: center;
}

.white_button{
	background: #FFFFFF;
	padding: 14px 43px;
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #292827;
	display: inline-block;
	text-decoration-line: unset;
	text-align: center;
}

.sub_button{
	border: 1px solid #292827;
	background: transparent;
	padding: 14px 43px;
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #292827;
	display: inline-block;
	text-decoration-line: unset;
	text-align: center;
}

.heading{
	font-weight: 600;
	font-size: 54px;
	line-height: 67px;
	letter-spacing: -0.01em;
	color: #292827;
	span{
		color: #B27C21;
	}
}

.text_description{
	font-weight: 500;
	font-size: 15px;
	line-height: 30px;
	color: #292827;
}

.padding40{
	padding: 40px 0;
}

.padding50{
	padding: 50px 0;
}

.padding60{
	padding: 60px 0;
}

.pb65{
	padding-bottom: 65px;
}

.header{
	padding-top: 30px;
	.left{
		.logo_header:first-of-type{
			margin-right: 25px;
		}
	}
	.right{
		align-items: flex-start;
	}
}

.logo_header{
	width: 160px;
	height: 160px;
	display: block;
	img{
		width: 100%;
	}
}

.nav_menu{
	display: flex;
	list-style-type: none;
	padding-left: 0;
	.nav_page{
		margin-right: 30px;
		a{
			font-weight: 500;
			font-size: 17px;
			line-height: 20px;
			letter-spacing: 0.01em;
			color: #292827;
			opacity: 0.7;
			text-decoration-line: unset;	
		}
	}
}

.flex_icon{

}

.icon_header{
	border: 1px solid #B8B8B4;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	img{
		width: 24px;
		height: 24px;
	} 
}

.screen1_index_wrap{
	.left{
		width: 45%;
		padding-bottom: 88px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		.brown_button{
			width: auto;
			max-width: 260px;
		}
	}
	.right{
		width: calc(55% - 60px);
		margin-left: 60px;
		img{
			width: 100%;
			margin-bottom: -5px;
		}
	}
}

.main_heading{
	font-weight: 600;
	font-size: 70px;
	line-height: 80px;
	letter-spacing: -0.01em;
	color: #292827;
}

.screen2_index_wrap{
	.left{
		width: 50%;
		.img_left_scr2{
			width: 100%;
			margin-bottom: 56px;
		}
		.text_part{
			width: 90%;
		}
	}
	.right{
		width: calc(50% - 40px);
		margin-left: 40px;
		.text_part{
			width: 90%;
			margin-bottom: 55px;
		}
	}
}

.video_iframe{
	width: 100%;
	height: 335px;
}

.screen3_index_wrap{
	.left{
		width: 100%;
		.text_part{
			width: 40%;
			margin-bottom: 40px;
			.text_description{
				margin-bottom: 24px;
			}
		}
		.img_position{
			width: calc(60% - 150px);
			margin-left: 150px;
			position: relative;
			.top_img1{
				position: absolute;
				left: 0;
				top: 0;
				width: 30%;
				height: 50%;
				object-fit: cover;
				z-index: 1;
			}
			.top_img2{
				position: absolute;
				left: 24%;
				bottom: 11%;
				width: 50%;
				height: 80%;
				object-fit: cover;
				z-index: 2;
			}
			.top_img3{
				position: absolute;
				left: 8%;
				bottom: 0;
				width: 25%;
				height: 40%;
				object-fit: cover;
				z-index: 3;
			}
			.top_img4{
				position: absolute;
				right: 0;
				bottom: 4%;
				width: 30%;
				height: 60%;
				object-fit: cover;
				z-index: 1;
			}
		}
	}
	.right_wrap{
		width: 100%;
		.text_part{
			width: 40%;
			margin-bottom: 40px;
		}
		.img_position{
			width: calc(60% - 150px);
			margin-left: 150px;
			position: relative;
			.bottom_img1{
				position: absolute;
				left: 11%;
				bottom: -2%;
				width: 34%;
				height: 40%;
				z-index: 2;
				object-fit: cover;
			}
			.bottom_img2{
				position: absolute;
				left: 35%;
				top: 26%;
				width: 53%;
				height: 60%;
				z-index: 1;
				object-fit: cover;
			}
			.bottom_img3{
				position: absolute;
				left: 0%;
				bottom: 25%;
				width: 24%;
				height: 40%;
				z-index: 1;
				object-fit: cover;
			}
		}

	}
}

.screen4_index_wrap{
	.left{
		width: 40%;
		.quotes{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			.quotes_img{
				width: 40px;
			}
			blockquote{
				.blockquote_parag{
					font-style: italic;
					font-weight: 400;
					font-size: 15px;
					line-height: 34px;
					letter-spacing: -0.01em;
					color: #292827;
				}
			}
		}
	}
	.right{
		width: calc(60% - 150px);
		margin-left: 150px;
		.autor_description{
			text-align: center;
		}
	}
}

.autor{
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #292827;
}

.autor_description{
	font-weight: 500;
	font-size: 15px;
	line-height: 30px;
	color: #292827;
}

.personal_card{
	.name_person{
		font-weight: 600;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: -0.01em;
		color: #292827;
	}
	.description_card{
		font-weight: 500;
		font-size: 15px;
		line-height: 25px;
		color: #292827;
		margin-bottom: 14px;
	}
}

.screen5_index{
	position: relative;
	.spikelets_grey{
		position: absolute;
		right: -15px;
		top: -40px;
	}
}

.age_person{
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: rgba(41, 40, 39, 0.5);
	margin-bottom: 10px;
}

.screen6_index_wrap{
	.heading{
		text-align: center;
		margin-bottom: 30px;
	}
}

.card_partner{
	width: calc(25% - 50px);
	padding-right: 50px;
	border-right: 1px solid #EBE2D5;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:last-of-type{
		margin-right: 0;
		padding-right: 0;
		border-right: unset;
	}
	.top_part{
		margin-bottom: 15px;
	}
	.img_partner{
		margin-bottom: 12px;
		width: 260px;
	}
	.name_museum{
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 15px;
		line-height: 24px;
		color: #292827;
	}
	.descr_partner{
		font-weight: 500;
		font-size: 13px;
		line-height: 24px;
		color: #292827;
	}
}

.screen7_index_wrap{
	.left{
		width: 55%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.right{
		width: calc(45% - 115px);
		margin-left: 115px;
	}
}

.card_own_story{
	background: #EBE2D5;
	img{
		width: 100%;
	}
	.bottom_part{
		padding: 30px 40px;
	}
}

.table_with_button{
	border: 1px solid #C4BDB2;
	.table_row{
		padding: 20px 25px;
		border-bottom: 1px solid #C4BDB2;
		display: flex;
		justify-content: space-between;
		&:last-of-type{
			border-bottom: unset;
		}
		.left{
			width: 55%;
		}
		.right{
			width: calc(45% - 30px);
			margin-left: 30px;
			.button{
				width: 100%;
			}
		}
	}
}

.contact_screen{
	.contact_wrap{
		border: 1px solid #C4BDB2;
		margin-bottom: 15px;
		.contact_row{
			border-right: 1px solid #C4BDB2;
			width: calc(100% / 3);
			padding: 20px 30px;
			&:last-of-type{
				border-right: unset;
			}
			.top_part{
				margin-bottom: 17px;
				.top{
					margin-bottom: 14px;
					align-items: center;
					.img_logo_cont{
						width: 105px;
						height: 118px;
						margin-right: 10px;
					}
				}
			}
			.company_name{
				height: 20%;
				font-weight: 700;
				font-size: 15px;
				line-height: 20px;
				letter-spacing: -0.01em;
				color: #292827;
			}
		}
	}
}

.screen_about_wrap{
	.left{
		position: relative;
		z-index: 1;
		width: calc(50% - 70px);
		margin-right: 70px;
		.img_spikelets{
			position: absolute;
			top: -130px;
			right: -80px;
			z-index: -1;
		}
	}
	.right{
		width: 50%;
	}
}

.bcg_textpart{
	background: url(../img/bcg_text.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 22px 60px;
}

.call_to_action_wrap{
	.left{
		width: 40%;
	}
	.right{
		width: calc(60% - 80px);
		margin-left: 80px;
	}
}

.flex_prsnl_card{
	overflow-x: scroll;
	width: 100%;
	.personal_card{
		width: 30%;
		margin-right: 20px;
		flex: 0 0 auto;
		img{
			width: 100%;
		}
	}
}

.bottom_info_site{
	font-weight: 500;
	font-size: 13px;
	line-height: 24px;
	color: #292827;
}

.pr_policy{
	padding-left: 0;
	display: flex;
	li{
		list-style-type: none;
		margin-right: 10px;
	}
}

.flex_icon{
	position: relative;
	padding-left: 59px;
}

.search_box{
	position: absolute;
	right: calc(100% - 58px);
	width: 58px;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/search.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #B8B8B4;
	border-radius: 100px;
	background-position: 16px center;
	transition: 0.3s;
	margin-right: 10px;
	input{
		position: relative;
		width: 100%;
		height: 100%;
		border: none;
		padding: 16px 18px;
		outline: none;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		color: rgba(41, 40, 39, 0.5);
		background-color: transparent;
		margin-left: 25px;
	}
	span{
		position: absolute;
		color: transparent;
		top: 50%;
		right: 18px;
		transform: translateY(-50%);
	}
	&:hover{
		width: 390px;
		span{
			color: #333;
		}
	}
	&:hover .nav_menu{
		display: none;
	}
}

.search_box.mobile{
	display: none;
}

.gumb{
	display: none;
	position: relative;
	span{
		display: block;
		width: 30px;
		height: 3px;
		background: #3D3D3D;
		cursor: pointer;
		&:before{
			content: "";
			width: 30px;
			height: 3px;
			background: #3D3D3D;
			display: block;
			position: absolute;
			top: -8px;
		}
		&:after{
			content: "";
			width: 30px;
			height: 3px;
			background: #3D3D3D;
			display: block;
			position: absolute;
			top: 8px;
		}
	}
}

.screen5_about{
	align-items: center;
	.right{
		img{
			width: 85%;
			margin: 0 auto 30px;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.screen4_about{
	.left{
		.video_iframe{
			margin-bottom: 25px;
		}
	}
}

.screen1_about{
	padding-top: 50px;
	.heading.mobile{
		display: none;
	}
	.right{
		margin-top: -60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		img{
			width: 100%;
		}
	}
}

.description_person{
	h3{
		font-weight: 600;
		font-size: 38px;
		line-height: 48px;
		letter-spacing: -0.01em;
		color: #292827;
		margin-bottom: 10px;
	}
	.job_title{
		font-weight: 600;
		font-size: 17px;
		line-height: 24px;
		letter-spacing: -0.01em;
		color: rgba(41, 40, 39, 0.7);
		margin-bottom: 16px;
	}
}

.job_description.mobile{
	display: none;
}

.screen3_about{
	.right{
		.top{
			margin-bottom: 25px;
			img{
				width: calc(50% - 55px);
				margin-right: 55px;
			}
			.description_person{
				width: 50%;
			}
		}
	}
}

.screen1_results{
	padding-top: 50px;
	.left{
		width: 23%;
		.heading{
			span{
				font-weight: 600;
				font-size: 102px;
				line-height: 80px;
				letter-spacing: -0.01em;
				color: #B27C21;
			}
		}
		.bcg_textpart.mobile_video{
			display: none;
		}
	}
	.right{
		margin-top: -60px;
		width: calc(77% - 100px);
		margin-left: 100px;
		img{
			width: 100%;
		}
	}
}

.screen1_join{
	padding-top: 50px;
	.left{
		ul{
			padding-left: 15px;
		}
	}
	.right{
		ul{
			padding-left: 15px;
		}
		.event_descr{
			margin-bottom: 13px;
			span{
				font-weight: 700;
			}
			&:last-of-type{
				margin-bottom: 24px;
			}
		}
		
	}
}

.screen2_results{
	.center_mobile{
		display: none;
	}
	.key_issues{
		padding-left: 0;
		.fw700{
			font-weight: 700;
			font-size: 13px;
			line-height: 24px;
			color: #292827;
		}
		li{
			list-style-type: none;
		}
	}
	.caption{
		margin-bottom: 15px;
	}
}

.nav_page.active{
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 5px;
		height: 5px;
		background: #B27C21;
		border-radius: 50%;
		position: absolute;
		top: 100%;
		left: 50%;
	}
	a{
		opacity: 1;
	}
}

.popup{
	width: 500px;
	background: #FFFFFF;
	padding: 40px 40px 45px;
	position: relative;
	margin: 0 auto;
	.name_form{
		margin-bottom: 20px;
	}
	.send_message_form{
		.brown_button{
			width: 100%;
		}
	}
	.close_form{
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

.input_div{
	margin-bottom: 13px;
	.name_input{
		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: #292827;
		margin-bottom: 4px;
	}
	.input{
		background: #F5F0EA;
		border: 1px solid #D5CBBC;
		border-radius: 2px;
		padding: 11px 13px 16px;
		width: 100%;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		color: rgba(41, 40, 39, 0.5);
		outline: 0;
	}
	textarea{
		height: 160px;
	}
	&:last-of-type{
		margin-bottom: 20px;
	}
}




